alias g="git"


# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$@"
}

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias c="clear"

alias home="cd ~"