alias g="git"
alias gs="git status"
alias gl="git log"
alias gc="git commit"


# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$@"
}

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias c="clear"

alias home="cd ~"
alias desktop="cd ~/Desktop"
alias projects="cd ~/Projects"
alias dotfiles="cd ~/dotfiles"
alias downloads="cd ~/Downloads"
alias documents="cd ~/Documents"