# 's' with no arguments opens the current directory in Sublime, otherwise opens the given locations

  function s() {
    if [ $# -eq 0 ]; then
      subl .;
    else
      subl "$@";
    fi;
  }

# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$@"
}